spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/social_media_editor}
    driver-class-name: org.postgresql.Driver
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  security:
    user:
      name: admin
      password: admin

server:
  port: 8080

jwt:
  secret: mySecretKey
  expiration: 86400000